.body {
    color: white;
    background: #333;
}

.profile {
    top: 0;
    bottom: 0;
    width: 20%;
    padding: 1em;
    border-radius: 50px;
    display: inline-block;
}

.personalProfile {
    display: inline-block;
}